<%= form_with(model: task, local: true,class: "w-50") do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %>
      <% if task.errors.count == 1 %>
       a 
      <% else %>
       ont 
      <% end %>
      interdit l'enregistrement de cette tâche:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :detail %>
    <%= form.text_area :detail, class: "form-control" %>
  </div>

  <div class="d-flex justify-content-between w-100">

  <div class="field">
    <%= form.label :expired_at %>
    <%= form.datetime_select :expired_at, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, ['Non demarré', 'En cours', 'Terminé'], class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.select :priority, ['Faible', 'Moyenne', 'Elevée'], class: "form-control"%>
  </div>

  </div>

<br><br>

<% if action_name == 'new' || action_name == 'create' %>
  <% @labels.each do |label| %>
    <%= form.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
    <%= label.name %>
  <% end %>
<% elsif action_name == 'edit' || action_name == 'update' %>
  <% @labels.each do |label| %>
    <%if @task.task_labels.where(label_id: label.id).count==1%>
      <%= form.check_box :label_ids, { multiple: true, checked: true, disabled: label[:disabled], include_hidden: false }, label[:id] %>
    <% else %>
      <%= form.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
    <% end %>
    <%= label.name %>
  <% end %>
<% end %>

<br><br><br>
  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>