<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @task.detail %>
</p>

<%= link_to 'Editer', edit_task_path(@task) %> |
<%= link_to 'Retour', tasks_path %>
